$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/components-font-awesome/fonts/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower
.glyphicon{
  font-size: 20px;
}
p.viewscore{
  padding-top: 20px;
  font-style: italic;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
html{

    position: relative;
    min-height: 100%;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 75px;
}

/*Footer*/
.footer {
  position: absolute;
  bottom: 0;
  height: 75px;
  border: none !important;
  font-size: 12px;

  a{
    color: inherit !important;
  }
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

h2 {
  font-family: arial;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

body {
  padding: 0px;
  max-height: auto;
  display:flex;
  background-color:#000000;
  margin-bottom: 0px;
}

html {
  height: 100%;
}

#annotation-facts {
  height: 100%;
  background-color:#333333 ;
  color:white;
  padding: 25px;

  p {
    font-size: 17px;
  }

  h3 {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
  }
}

#images-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
}

canvas {
  /*border: white 1px solid;*/
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#annotation-section {
  background-color: black;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  height:100%;
}

#image-annotations {
  padding: 20px;
}

#image-title {
  color:white;
  font-family: cursive;
  margin-top: 0px;
}

audio {
  width:100%;
  margin-top: 5px;
}

.modal-content {
  width: 62%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color:white;
  border-radius: 0;
  margin-top:10%;
  display:none;
  text-align: left;
}

.tsg-modal-close-btn {
  color:white;
  background: transparent;
  float: right;
  border: none;
  font-size:30px;
  padding: 0px;
  &:focus {
    border:none;
    outline: none;
  }
}

.tsg-close {
  background-color: black;
  border-radius: 30px;
  font-size: 30px;
  position: relative;
  top: -15px;
  left: 15px;
}

.modal-footer {
  padding: 5px;
  border:none;
}

.modal-header {
  border:none;
  padding: 7px 0 0 20px;

}
h4.modal-title {
  font-size: 30px !important;
}

.tsg-credit{
  font-size: small;
  opacity: 0.5;
  text-align: center;
}

.tsg-header-title{
  font-size: 20px;
}

.tsg-caption-content {
  font-size: large;
  width: 75%;
  font-style: italic;
}

.tsg-modal-btn {
  display:none;
}

.tsg-program-link {
  float: right;
  /*color: red;*/
}

a, a:hover, a:visited, a:link {
color: #de3831;
text-decoration: none;

}

.sidebar-footer{
  padding-top: 100px;
  text-align: center;

}

.sidebar-footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sidebar-footer i {
  padding: 30px 3px 3px 10px;
  font-size: 24px;
  color: #fff;
}

.sidebar-footer p, .sidebar-footer p a {
  color: #666;
  font-size: 12px !important;
}

.image-annotations{
  text-align: center;
}
.image-annotations button.btn{
  background: transparent;
    color: #F2F2F2;
    border: 0;
}

.image-annotations button span{
  font-size: 30px;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.subtext{
  font-style:italic;
  color:#ffffff;
  font-size: 18px;
}

@media (max-width: 600px){
  #annotation-section {
    background-color: black;
  }

  #annotation-container {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%
  }

  #images-container {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 4px;
  }

  .tsg-caption-content {
    font-size: medium;
    width: 95%;

  }
  .modal-content {
    width: 95%;
  }
}

.tsg-container{
  width: 100%;
}

.fullscreen-toggle {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 85%;
}

li > a {
  cursor:pointer;
}

#annotation-15 {
  width:100%;
}

.row div {
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.loading-modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 88, 88, 88, .8 )
              url('/images/ajax-loader.gif')
              50% 50%
              no-repeat;

}

body.loading {
    overflow: hidden;
}

body.loading .loading-modal {
    display: block;
}
